{% block form_errors %}
    {% spaceless %}
          {% for error in errors %}
                <div class="alert alert-danger"><center>{{ error.message }}</div>
          {% endfor %}
    {% endspaceless %}
{% endblock %}