{% extends 'base.html.twig' %}

{% block body %}
{{ encore_entry_link_tags('poppingForm') }}
{{ encore_entry_link_tags('clockStyle') }}
{{include('inc/navs/header.html.twig')}}
<title>{% block title %}Wejście/Wyjście{% endblock %}</title>
<content>
    <div class="frame">
      <h1>Zbliż kartę</h1>
      <div class="flex-container">
        <canvas id="clock" width="240" height="240"></canvas>
      </div>
        <input id='cardNumber' class="form-control" type='password' placeholder='Numer Karty' maxlength="10"></input>
    </div>
    <button id="open-button" class='open-button'>Zapomniałeś karty?</button>

  <div class="form-popup" id="myForm">
    <div class="form-container">
      <h2>Podaj swój login</h2>
      <input id="login" class="form-control" type="password" placeholder="Login" name="login" required='required'>
      <button id="confirm-button" type="submit" class="btn">Zatwierdź</button>
      <button id="cancel-button" type="button" class="form-control">Zamknij</button>
    </div>
  </div>
</content>
  {% block javascripts %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      {{ encore_entry_script_tags('clock') }}
      {{ encore_entry_script_tags('pass') }}
  {% endblock %}
{% endblock %}
