{% extends 'base.html.twig' %}


{% block body %}
    {{ encore_entry_link_tags('poppingForm') }}
    <title>{% block title %}Logowanie{% endblock %}</title>

    {{include("inc/navs/header.html.twig")}}
    <content>
        <center>
        {% if not is_granted('ROLE_USER')%}
            <div class="frame">
                <form id="loginForm" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <center>
                    <h1 class="h3 mb-3 font-weight-normal">Zbliż kartę</h1>
                    <input type="password" name="cardNumber" id="inputCardNumber" class="form-control" placeholder="Numer karty" maxLength="10" required autofocus>

                    <p><input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                </form>
            </div>
            <button id="open-button" class='open-button' onclick="location.href = '/login-plain';">Zapomniałeś karty?</button>

            {% else %}
                <h1>Jesteś już zalogowany</h1>
            {% endif %}
    </content>
    {% block javascripts %}
    {{ encore_entry_script_tags('loginWithCard') }}
    {% endblock %}
{% endblock %}
