{% extends 'base.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('poppingForm') }}
    <title>{% block title %}Logowanie{% endblock %}</title>

    {{include("inc/navs/header.html.twig")}}
    <content>
        <center>
            {% if not is_granted('ROLE_USER')%}
                <div class="frame">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Logowanie z użyciem hasła</h1>
                        <label for="inputCardNumber" class="sr-only">Login</label>
                        <input type="text" name="username" id="inputCardNumber" class="form-control" placeholder="Login" required autofocus>
                        <p><label for="inputPassword" class="sr-only">Hasło</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}">

                        <p><button class="btn btn-secondary btn-lg btn-block" type="submit">
                            Zaloguj się
                        </button>
                    </form>
                </div>
                <button id="open-button" class='open-button' onclick="location.href = '/';">Powrót do logowania kartą</button>
                {% else %}
                    <h1>Jesteś już zalogowany</h1>
                {% endif %}
    </content>
{% endblock %}
