  <nav class="header">
    <img src="http://www.wilk.net.pl/templates/home/img/logo.svg" alt="WILK" />
    <div class="hamburger">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </nav>
  <nav class="sidebar" data-simplebar>
    <div class="current-user-data">
      <div class="user-img">
        {% if is_granted('ROLE_ADMIN') %}
          <i class="fas fa-user-tie fa-3x"></i>
        {% else %}
          <i class="fas fa-user-alt fa-3x"></i>
        {% endif %}
      </div>
      <div class="user-name">
        {{app.user.name ~ " " ~ app.user.surname}}
      </div>
    </div>
    <ul class="nav-links">
        <li><a href="/dashboard"><i class="zmdi zmdi-home zmdi-hc-lg"></i><span class="tag">Panel główny</span></a></li>
        {% if is_granted('ROLE_ADMIN') %}
          <li class="next-level"><a href="javascript:void(0);"><i class="icon zmdi zmdi-accounts-alt zmdi-hc-lg"></i><span class="tag">Pracownicy</span><span class="arrow"></span></a>
            <ul class="nav-links2">
              <li><a href="/register">Dodaj pracownika</a></li>
              {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="/workers/management">Zarządzanie</a></li>
                <li><a href="/set-work-hours">Godziny pracy</a></li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
        <li><a href="/logout"><i class="zmdi zmdi-power zmdi-hc-lg"></i><span class="tag">Wyloguj się</span></a></li>
    </ul>
    
  </nav>
{{ encore_entry_script_tags('sidebar') }}
{{ encore_entry_script_tags('automaticLogout') }}

