@import url("https://fonts.googleapis.com/css?family=Lato:100");

html body .flex-container {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 35px;
  margin-top: 10px;
  z-index: 12312312;
}
