html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

@mixin media-sm {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@function getColor($color) {
  @if (lightness($main) > 50) {
    @return rgba(black, 0.8);
  } @else {
    @return rgba(white, 0.8);
  }
}

$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;

$main: rgb($red, $green, $blue);
$main: rgb(223, 223, 223);
$dark: mix(black, $main, 100%);

// select font color
$text: getColor($main);
%sidebar-hover {
  @include alpha-attribute("background-color", rgba($main, 0.6), white);
}

.header {
  position: fixed;
  background: white;
  border-bottom: 1px solid rgb(223, 223, 223);
  height: 66px;
  width: 100%;
  z-index: 99;
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.progress {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 1px;
  background-color: white;
  .progress-bar {
    background-color: red;
    width: 100%;
  }
  .reset {
    transition: none;
    width: 100%;
  }
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 23px;
  left: 11px;
}
.line {
  width: 17px;
  height: 2px;
  background: #878787;
  margin: 3px;
  transition: all 0.3s;
}

.hamburger.open .line1 {
  width: 10px;
  transform: rotate(-45deg) translateY(3px);
}
.hamburger.open .line2 {
  transform: translateX(4px);
}
.hamburger.open .line3 {
  width: 10px;
  transform: rotate(45deg) translateY(-3px);
}

.sidebar {
  position: fixed;
  //box-sizing: border-box;
  left: 0;
  top: 66px;
  height: calc(100% - 66px);
  width: 43px;
  background: white;
  border-right: 1px solid rgb(223, 223, 223);
  overflow-x: hidden;
  z-index: 1;
  transition: width 0.3s;
  z-index: 99;
  .current-user-data {
    position: sticky;
    top: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(223, 223, 223);
    .user-img {
      position: relative;
      font-size: 8px;
      width: 21px;
      height: 24px;
      left: 0;
      right: 0;
      transition: all 0.2s ease;
      margin-left: auto;
      margin-right: auto;
    }
    .user-name {
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 0px;
      transition: all 0.15s ease-in;
    }
  }
}
@media screen and (max-width: 1000px) {
  .sidebar {
    width: 0px;
  }
}
.nav-links {
  position: absolute;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-around;
  li > a {
    position: relative;
    display: block;
    padding: 10px 10px 10px 12px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-size: 16px;
    align-items: center;
    outline: 0;
  }
  li i {
    margin-right: 20px;
    height: 18px;
    width: 18px;
  }
  .tag {
    opacity: 0;
  }
  .nav-links2 {
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 0;
    a {
      font-size: 14px;
      color: #878787;
      margin-left: 38px;
    }
  }
  li:hover {
    background: #f0f4f5;
    ul {
      background: white;
    }
  }
  li.collapsed {
    .arrow {
      transform: rotate(180deg);
    }
  }
  li {
    .arrow {
      position: absolute;
      height: 4px;
      width: 4px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #878787;
      bottom: 20px;
      right: 15px;
      opacity: 0;
      transition: all 0.3s;
    }
  }
}
.sidebar.open {
  width: 225px;
  .user-name {
    font-size: 14px;
  }
  .user-img {
    font-size: 16px;
    width: 42px;
    height: 48px;
  }
  .arrow {
    opacity: 1;
  }
  .tag {
    animation: fadein 0.7s;
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) {
  .sidebar:hover {
    width: 225px;
    .user-name {
      font-size: 14px;
    }
    .user-img {
      font-size: 16px;
      width: 42px;
      height: 48px;
    }
    .arrow {
      opacity: 1;
    }
    .tag {
      animation: fadein 0.7s;
      opacity: 1;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

content {
  position: relative;
  font-family: "Segoe UI";
  color: #373a3c;
  letter-spacing: 1px;
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  background-color: #f0f4f5;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  padding-top: 67px;
  padding-left: 43px;
  @media screen and (max-width: 1000px) {
    padding-left: 0px;
  }
  .frame {
    margin: 2px 2px 2px;
    position: absolute;
    width: 70vw;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    input {
      margin-bottom: 35px;
      width: 80%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      text-align: center;
    }
  }
  .time-selection {
    position: relative;
    width: 100%;
    margin-top: 35px;
    .time-container {
      text-align: center;
    }
    .time-picker {
      width: 60px;
    }
    .time-block {
      display: flex;
    }
  }
}

body {
  scrollbar-base-color: $main;
  scrollbar-3dlight-color: #fff;
  scrollbar-highlight-color: $main;
  scrollbar-track-color: $main;
  scrollbar-arrow-color: $main;
  scrollbar-shadow-color: $main;
  scrollbar-darkshadow-color: $main;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::placeholder {
  text-align: center;
}

input {
  text-align: center;
}

.move-btn {
  width: 40px;
}

.type-switch {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 22px;
}

div[data-schedule-id~="late"] {
  background-color: red;
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="on-time"] {
  background-color: rgb(12, 235, 12);
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="exit"] {
  background-color: rgb(17, 170, 17);
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="automatic"] {
  background-color: rgb(218, 197, 10);
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="card-login"] {
  background-color: rgb(218, 197, 10);
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="card-login"] {
  background-color: #3f9fe8;
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="plain-login"] {
  background-color: #0065b3;
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="logout"] {
  background-color: #aa00ff;
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
div[data-schedule-id~="time-in"] {
  background-color: white;
  .tui-full-calendar-weekday-schedule-bullet {
    display: none;
  }
}
.row {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.7s;
}
.worker-view {
  position: relative;
  width: 100%;
  min-height: 225px;
  background: white;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  .worker-name {
    position: sticky;
    width: 100%;
    top: 0px;
    margin-top: 5px;
    text-align: center;
    background-color: white;
    z-index: 98;
  }
  .worker-name::after {
    position: relative;
    content: "";
    width: 90%;
    height: 1px;
    display: block;
    left: 0;
    right: 0;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(223, 223, 223);
  }
  .worker-options-wrap {
    position: relative;
    width: 100%;
    height: 188px;
    overflow-y: visible;
    overflow-x: hidden;
  }
  .worker-options {
    position: absolute;
    list-style: none;
    justify-content: space-around;
    margin-top: 5px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 1px;

    li:hover {
      background: rgb(223, 223, 223);
      a {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
    li > a {
      position: relative;
      display: block;
      padding: 3px 3px 3px 3px;
      text-decoration: none;
      color: black;
      white-space: nowrap;
      font-size: 14px;
      align-items: center;
      outline: 0;
    }
    li i {
      margin-right: 20px;
      margin-left: 15px;
      height: 18px;
      width: 18px;
      transition: all 0.6s ease;
    }
  }
}

.row > div {
  transition: all 0.6s ease-in-out;
}
.dim {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -100;

  .worker-information {
    position: absolute;
    display: flex;
    width: 80%;
    height: 50%;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -100;
    transition: all 0.3s ease;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    h1 {
      width: 100%;
      text-align: center;
    }
    .left-column {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      padding-top: 100px;
    }
    .right-column {
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      padding-top: 100px;
    }
    .worker-name {
      position: relative;
      width: 100%;
      top: 0px;
      margin-top: 5px;
      text-align: center;
      background-color: white;
      font-size: 18px;
    }
    .worker-name::after {
      position: relative;
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      left: 0;
      right: 0;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(223, 223, 223);
    }
  }
  .month-select {
    position: absolute;
    display: block;
    width: 400px;
    height: 63%;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
    @media screen and (max-width: 400px) {
      width: 100%;
    }
    h1 {
      width: 100%;
      text-align: center;
    }
    .month-wrapper {
      position: relative;
      width: 100%;
      height: calc(100% - 60px);
      overflow-y: visible;
      overflow-x: hidden;

      .month-options {
        position: absolute;
        list-style: none;
        justify-content: space-around;
        margin-top: 5px;
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        margin-top: 1px;

        li:hover {
          background: rgb(223, 223, 223);
          a {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
        li > a {
          position: relative;
          display: block;
          padding: 10px 10px 10px 10px;
          text-decoration: none;
          color: black;
          white-space: nowrap;
          font-size: 14px;
          align-items: center;
          outline: 0;
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }
}
