{% extends 'base.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('tui-calendar') }}
    {{ encore_entry_link_tags('tui-date-picker') }}
    {{ encore_entry_link_tags('tui-time-picker') }}
    {{ include('inc/navs/sidebar.html.twig') }}
    <content>
      <div class="btn-group btn-group-toggle type-switch" data-toggle="buttons">
        <button type="button" class="btn btn-outline-dark move-btn" id="prev"><</button>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="day" autocomplete="off"> Dzień
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="week" autocomplete="off"> Tydzień
        </label>
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="month" autocomplete="off"> Miesiąc
        </label>
        <button type="button" class="btn btn-outline-dark move-btn" id="next">></button>
      </div>
      <center>
        <span id ="date-range"></span>{{workerData.workerName}} {{workerData.workerSurname}}
      </center>
      <div id="calendar" style="height: 675px;" data-logs="{{logs|json_encode}}" data-passes="{{passes|json_encode}}" data-in-times="{{ workerTimeIn|json_encode }}"></div>
    </content>
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
