{% extends 'base.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('tui-calendar') }}
    {{ encore_entry_link_tags('tui-date-picker') }}
    {{ encore_entry_link_tags('tui-time-picker') }}
    {{ include('inc/navs/sidebar.html.twig') }}
    <content>
      <div id="dim" class="dim">
      </div>
      {% for i in 0..workers|length - 1 %}
        {% if i%4 == 0 %}
          <div class="row">
        {% endif %}
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="worker-view">
            <div class="worker-name">{{ workers[i].name ~ " " ~ workers[i].surname }}</div>
            <div class="worker-options-wrap" data-simplebar>
              <ul class="worker-options">
              <li id="{{i}}" class="worker-information-activator"><a id="{{i}}" href="javascript:void(0)"><i id="{{i}}" class="fas fa-info-circle fa-md"></i><span id="{{i}}" class="tag">Szczegółowe informacje</span></a></li>
              <li><a href="/worker/schedule/{{workers[i].id}}"><i class="zmdi zmdi-calendar-alt zmdi-hc-lg"></i><span class="tag">Kalendarz aktywności</span></a></li>
              <li id="{{i}}" class="month-selection-activator"><a id="{{i}}" href="javascript:void(0)"><i id="{{i}}" class="fas fa-print fa-md"></i><span id="{{i}}" class="tag">Wydruk listy obecności</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        {% if i%4 == 3 and i != workers|length - 1 %}
          </div>
        {% endif %}
        <div class="worker-information-container {{i}}" data-worker-information={{ workersJSON[i]}}></div>
      {% endfor %}
      </div>
      <div class="navigation"> 
        {{ knp_pagination_render(workers) }} 
      </div> 
    </content>
    {{ encore_entry_script_tags('workerManagement') }}
{% endblock %}
