{% extends 'base.html.twig' %}
{% form_theme form 'form/form_errors.html.twig' %}

{% block body %}
    {{include('inc/navs/sidebar.html.twig')}}
    <content>
        <div class="frame">
            <h1> Godziny pracy </h1>
            {% if message %}
                <div class="alert alert-success" role="alert" style="margin-top: 6px;">
                    <center>{{message}}
                </div>
            {% endif %}
                {{form_start(form)}}
                {{form_errors(form.startTimeHours)}}
                {{form_errors(form.startTimeMinutes)}}
                {{form_errors(form.endTimeHours)}}
                {{form_errors(form.endTimeMinutes)}}
            <div class="time-selection row"> 
                <div class="time-container col-lg-6 col-md-6 col-sm-12">
                    <h3>Początek</h3>
                    <div class="time-block">
                        {{form_widget(form.startTimeHours)}}<h3>:</h3>
                        {{form_widget(form.startTimeMinutes)}}
                    </div>
                </div>
                <div class="time-container col-lg-6 col-md-6 col-sm-12"> 
                    <h3>Koniec</h3>
                    <div class="time-block">
                        {{form_widget(form.endTimeHours)}}<h3>:</h3>
                        {{form_widget(form.endTimeMinutes)}}
                    </div>
                </div>
            </div>
                {{form_widget(form.submit)}}
                {{form_rest(form)}}
                {{form_end(form)}}
            </div>
    </content>
{% endblock %}
