{% extends 'base.html.twig' %}

{% block body %}
    <span class="address">
    Przedsiębiorstwo Konstrukcji Innowacyjnych WILK s.c
    <br>ul.Porowa 4A<br>
    64-761 Krzyż Wlkp.
    </span>
    <span class="date">
    {{monthName ~ " " ~ year}}
    </span>
    <p>
    <center>
        <b>Lista obecności</b>
        <h1>{{worker.name ~ " " ~ worker.surname}}</h1>
    </center>
    <table class="worker-times-in">
        <tr>
            <th class="lp">
                Lp.
            </th>
            <th>
                Wejścia/wyjścia
            </th>
            <th class="work-time">
                Ilość godzin
            </th>
            <th class="worker-signature">
                Podpis pracownika
            </th>
            <th>
                Uwagi
            </th>
        </tr>
       {% for i in 1..periodLength %}
            <tr>
                <td>
                    {{i}}
                </td>
                <td>
                    <div class = "in-outs">
                        <ol>
                            {% if inWorkData[i]['passes'] is defined %}
                                {% for pass in inWorkData[i]['passes'] %}
                                    {% if pass.didEnter and pass.wasLate %}
                                        <li>Spoźnienie({{pass.lateTime}}min).- {{pass.passedAt|date("H:i")}}</li>
                                    {% elseif pass.didEnter %}
                                        <li>Wejście- {{pass.passedAt|date("H:i")}}</li>
                                    {% elseif pass.wasAutomatic %}
                                        <li>Wyjście Aut.- {{pass.passedAt|date("H:i")}}</li>
                                    {% else %}
                                        <li>Wyjście- {{pass.passedAt|date("H:i")}}</li>
                                    {% endif %}                         
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </div>
                </td>
                <td>
                    {% if inWorkData[i]['times'] is defined %}
                        {{inWorkData[i]['times']}}
                    {% endif %}
                </td>
                <td>
                </td>
                <td class="warning">
                </td>
            </tr>
       {% endfor %} 
        </table>
        <center><h3>Suma godz: {{totalInWorkTime}}</h3></center>
        <div class = "signature">
        .............................................................................................<br>
        Podpis szefa kadry
        </div>


    <style>
        .worker-times-in{
            width: 99%;
            padding: 0;
            margin: 0;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        th, td{
            border: 1px solid black;
            text-align: center;
        }
        .lp{
            width: 10px;
        }
        .work-time{
            width: 125px;
        }
        .worker-signature{
            width: 10px;
        }
        .warning{
            width: 300px;
        }
        .date{
            float: right;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }
        .signature{
            position: relative;
            width: 200px;
            display: block;
            text-align: center;
            float: right;
        }
    </style>

{% endblock %}
