{% extends 'base.html.twig' %}

{% block body %}
    {{ include('inc/navs/header.html.twig') }}
    <content>
        <div class = "frame">  
            <center>
            <h1 style>{{code}}</h1>
            <h2>{{message}}</h2>
            <a href="/" class="btn btn-secondary btn-lg" tabindex="-1" role="button" style="width:100%; margin-top:20px;">Powrót do strony głównej</a>
        </div>
    </content>
{% endblock %}