{% extends 'base.html.twig' %}
{% form_theme registrationForm 'form/form_errors.html.twig' %}

{% block body %}
    {{include("inc/navs/sidebar.html.twig")}}
    <content>
        {% if createdUser %}
            <div class="alert alert-success" role="alert" style="margin-top: 6px;">
                <center>Zarejestrowano pracownika {{createdUser.name ~ " " ~ createdUser.surname}}
            </div>
        {% endif %}
    <div class = "frame" style="margin-top: 50px;">
        <h1>Dodawanie pracownika</h1>
        {{form_start(registrationForm)}}
        {{ form_errors(registrationForm.cardNumber) }}
        {{ form_errors(registrationForm.name) }}
        {{ form_errors(registrationForm.surname) }}
        {{ form_errors(registrationForm.username) }}
        {{ form_errors(registrationForm.password.first) }}
        {{ form_errors(registrationForm.password.second) }}
        {{ form_widget(registrationForm.cardNumber) }}
        {{ form_widget(registrationForm.name) }}
        {{ form_widget(registrationForm.surname) }}
        {{ form_widget(registrationForm.username) }}
        {{ form_widget(registrationForm.password.first) }}
        {{ form_widget(registrationForm.password.second) }}
        {{ form_widget(registrationForm.submit) }}
        {{ form_rest(registrationForm) }}
        {{form_start(registrationForm)}}
    </div>
    </content>
</div>
{% endblock %}
